/*
    about.css

    IDEAS
        -
*/


/*
    1: remove default margin on everything
*/
* {
    /* 1 */
    margin: 0;
}

a {
    /* removes underline from links */
    text-decoration: none;
}

.site-wrap {
    font-family: Arial;
}

/* HEADER ---------------------------------------------------------- */
header {
    background-color: rgb(0, 0, 100);
    height: 90vh;
    width: 100%;
}

.center-site-header {
    margin: auto;
    height: 5rem;
    width: 70rem;
}

.site-logo {
    width: 4rem;
    height: 4rem;
}

.site-logo img {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin: .5rem;
    float: left;
}

.site-nav {
    width: auto;
    height: auto;
    float: right;
    text-align: center;
}

.site-nav a {
    color: white;
    float: left;
    padding: 2rem 0 0;
    width: 7rem;
    height: 3rem;
    font-size: 20px; /* change to rem? */
}

.site-nav a:hover {
    transition: background-color .8s ease, color .5s ease;

    background-color: rgb(224, 224, 224);
    color: blue;
}

.header-title {
    color: white;
    font-family: cursive;
    text-align: center;
    font-size: 5rem;
    padding: 35vh 0;
}


/* MAIN ---------------------------------------------------------- */
.about-info {
    background-color: blue;
    height: 40rem;
}

.about-info-container {
    width: 50rem;
    margin: auto;
    padding-top: 8rem;
}

.about-info-container div {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5rem;
    color: white;
}

.about-info h3 {
    padding-bottom: .3rem;
}

.about-squad {
    background-color: rgb(52, 52, 255);
    height: 100rem;
}

.center-squad {
    width: 69rem;
    margin: auto;
    padding: 6vh 0 3vh;
    display: grid;
    grid-template-rows: 30rem 30rem 30rem;
    grid-template-columns: 23rem 23rem 23rem;
}

.center-squad figure {
    padding: 1.5rem;
}

.job-title {
    font-size: 1.5rem;
}

.center-squad figure h3 {
    font-size: 3rem;
}

.center-squad figure p {
    font-size: 2rem;
}

.center-squad img {
    height: 20rem;
}


/* FOOTER ---------------------------------------------------------- */
footer {
    background-color: black;
    color: white;
    padding: 4rem 5rem 2rem;
    height: 9vh;
}

footer div {
    float: left;
    padding-right: 8rem;
}

footer h3 {
    margin-bottom: .7rem;
    font-size: 22px;
}
