{% extends "layout.html" %} {% block stylesheet %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/about.css') }}"
/>
{% endblock %} {% block content %}

<div class="first-triangle">
  <div></div>
</div>

<section class="about-us">
  <h3>About Us</h3>
  <p>
    something something something something something something something
    something something something
  </p>
</section>

<div class="second-triangle">
  <div></div>
</div>

<section class="squad">
  <div>
    <a href="#" class="logo">
      <figure>
        <img src="https://unsplash.it/200/300" alt="Portrait" />
      </figure>
    </a>
    <h5>Job Title</h5>
    <h2>Name</h2>
    <p>
      Description Description Description Description Description Description
      Description
    </p>
  </div>
  <div>
    <a href="#" class="logo">
      <figure>
        <img src="https://unsplash.it/200/300" alt="Portrait" />
      </figure>
    </a>
    <h5>Job Title</h5>
    <h2>Name</h2>
    <p>
      Description Description Description Description Description Description
      Description
    </p>
  </div>
  <div>
    <a href="#" class="logo">
      <figure>
        <img src="https://unsplash.it/200/300" alt="Portrait" />
      </figure>
    </a>
    <h5>Job Title</h5>
    <h2>Name</h2>
    <p>
      Description Description Description Description Description Description
      Description
    </p>
  </div>
  <div>
    <a href="#" class="logo">
      <figure>
        <img src="https://unsplash.it/200/300" alt="Portrait" />
      </figure>
    </a>
    <h5>Job Title</h5>
    <h2>Name</h2>
    <p>
      Description Description Description Description Description Description
      Description
    </p>
  </div>
  <div>
    <a href="#" class="logo">
      <figure>
        <img src="https://unsplash.it/200/300" alt="Portrait" />
      </figure>
    </a>
    <h5>Job Title</h5>
    <h2>Name</h2>
    <p>
      Description Description Description Description Description Description
      Description
    </p>
  </div>
  <div>
    <a href="#" class="logo">
      <figure>
        <img src="https://unsplash.it/200/300" alt="Portrait" />
      </figure>
    </a>
    <h5>Job Title</h5>
    <h2>Name</h2>
    <p>
      Description Description Description Description Description Description
      Description
    </p>
  </div>
  <div>
    <a href="#" class="logo">
      <figure>
        <img src="https://unsplash.it/200/300" alt="Portrait" />
      </figure>
    </a>
    <h5>Job Title</h5>
    <h2>Name</h2>
    <p>
      I like to do things and stuff. I also like the color blue a lot.
    </p>
  </div>
  <div>
    <a href="#" class="logo">
      <figure>
        <img src="https://unsplash.it/200/300" alt="Portrait" />
      </figure>
    </a>
    <h5>Job Title</h5>
    <h2>Name</h2>
    <p>
      Description Description Description Description Description Description
      Description
    </p>
  </div>
</section>

<div class="third-triangle">
  <div></div>
</div>

{% endblock %}
