{% extends "layout.html" %} {% block stylesheet %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/projects.css') }}"
/>
{% endblock %} {% block content %}

<div class="first-triangle">
  <div></div>
</div>

<section class="projects-content">
  <div class="project-1">
    <a href="#" class="img-1">
      <figure>
        <img src="https://unsplash.it/300/200" alt="Project" />
      </figure>
    </a>
    <div class="desc-1">
      <h3>Project Name</h3>
      <p>
        This is really coola fdI ccan do a lto of stuff and and it does it and
        then helps and stuff ans d. adfan adsfass.This is really coola fdI ccan
        do a lto of stuff and and it does it and then helps and stuff ans d.
        adfan adsfass.This is really coola fdI ccan do a lto of stuff and and it
        does it and then helps and stuff ans d. adfan adsfass.
      </p>
    </div>
  </div>
  <div class="project-2">
    <a href="#" class="img-2">
      <figure>
        <img src="https://unsplash.it/300/200" alt="Project" />
      </figure>
    </a>
    <div class="desc-2">
      <h3>Project Name</h3>
      <p>
        This is really coola fdI ccan do a lto of stuff and and it does it and
        then helps and stuff ans d. adfan adsfass.This is really coola fdI ccan
        do a lto of stuff and and it does it and then helps and stuff ans d.
        adfan adsfass.This is really coola fdI ccan do a lto of stuff and and it
        does it and then helps and stuff ans d. adfan adsfass.
      </p>
    </div>
  </div>
  <div class="project-3">
    <a href="#" class="img-3">
      <figure>
        <img src="https://unsplash.it/300/200" alt="Project" />
      </figure>
    </a>
    <div class="desc-3">
      <h3>Project Name</h3>
      <p>
        This is really coola fdI ccan do a lto of stuff and and it does it and
        then helps and stuff ans d. adfan adsfass.This is really coola fdI ccan
        do a lto of stuff and and it does it and then helps and stuff ans d.
        adfan adsfass.This is really coola fdI ccan do a lto of stuff and and it
        does it and then helps and stuff ans d. adfan adsfass.
      </p>
    </div>
  </div>
</section>

<div class="second-triangle">
  <div></div>
</div>

{% endblock %}
